/* Regole Generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Regole Header */
header {
  height: 70px;
  background-color: #0c325a;
  padding-top: 10px;
}

#logo {
  vertical-align: baseline;
  padding-right: 30px;
}

nav {
  display: inline-block;
  vertical-align: text-bottom;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
}

ul li {
  display: inline-block;
}

#a-right {
  margin-left: 250px;
}

#login-button {
  margin: 0 20px;
  padding: 7px 25px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 5px;
}

#green-button {
  padding: 7px 12px;
  background-color: #7cbb02;
  color: white;
  border-color: transparent;
  border-radius: 5px;
}
/* Regole Main */

.container {
  width: 80%;
  margin: auto;
}

.jumbo {

  height: 450px;
  background-color: #0c325a;
  position: relative;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.text-jumbo {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 30%;
}

#jumbo-button {
  background-color: #7cbb02;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  padding: 15px 15px;
}

.greybox {
  height: 150px;
  background-color: lightgrey;
  padding: 45px;
  text-align: center;
}

.greybox p {
  color: #808080;
  padding-top: 18px;
  font-size: 17px;
}

.row {
  margin: 20px 0;
  /* debug   */
  background-color: yellow;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}


.aside {
  float: left;
  /* debug */

  width: 31%;
}


.img1 {
  background-image: url("../img/profile.svg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.img2 {
  background-image: url("../img/doc.svg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.img3 {
  background-image: url("../img/computer.svg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.text-aside {
  text-align: center;
  width: 60%;
  margin: auto;
}
.aside h1 {
  color: green;
}

hr {
  width: 70px;
  background-color: grey;
  height: 1px;
  border: transparent;
  margin: 20px 40%;
}

.aside p {
  font-size: 15px;
  color: #808080;
}


.center-block {
  float: left;
  /* debug */
  height: 300px;
  width: 31%;
  background-color: blue;
  margin: 0 3%;
}

.left1 {
  float: left;
  /* debug */
  height: 300px;
  background-color: blue;
  width: 45%;
  margin: 20px 0;
}

.left {
  float: left;
  /* debug */
  height: 300px;
  background-color: purple;
  width: 45%;
  margin: 20px 5%;
}



/* Regole Footer */

footer {
  /* debug */
  height: 150px;
  background-color: grey;
}
