/* Regole Generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Regole Header */
header {
  height: 70px;
  background-color: #0c325a;
  padding-top: 10px;
}




#logo {
  vertical-align: baseline;
  padding-right: 30px;
}

nav {
  display: inline-block;
  vertical-align: text-bottom;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 20px;
}

ul li {
  display: inline-block;
}

#a-right {
  margin-left: 250px;
}

#login-button {
  margin: 0 20px;
  padding: 7px 25px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 5px;
}

#green-button {
  padding: 7px 12px;
  background-color: #7cbb02;
  color: white;
  border-color: transparent;
  border-radius: 5px;
}
/* Regole Main */

.container {
  width: 80%;
  margin: auto;
}

.jumbo {
  height: 450px;
  background-color: #0c325a;
  position: relative;
  background-image: url("../img/background-header.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}



.text-jumbo {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 30%;
}

#jumbo-button {
  background-color: #7cbb02;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  padding: 15px 15px;
}

.greybox {
  height: 150px;
  background-color: lightgrey;
  padding: 45px;
  text-align: center;
  margin-bottom: 30px;
}

.greybox p {
  color: #808080;
  padding-top: 18px;
  font-size: 17px;
}

/* SEZIONE PRIMA ROW */


.row::after {
  content: "";
  display: table;
  clear: both;
}


.aside {
  float: left;
  width: 31%;
}

.img1 {
  background-image: url("../img/profile.svg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.img2 {
  background-image: url("../img/doc.svg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.img3 {
  background-image: url("../img/computer.svg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.text-row {
  text-align: center;
  width: 60%;
  margin: auto;
}
.row h3 {
  color: green;
}

.row hr {
  width: 70px;
  background-color: grey;
  height: 1px;
  border: transparent;
  margin: 20px 40%;
}

.row p {
  font-size: 15px;
  color: #808080;
}


.center-block {
  float: left;
  width: 31%;
  margin: 0 3.5%;
}

/* SEZIONE SECONDA ROW */

.row2 {
margin: 30px 0;
}


.row2::after {
  content: "";
  display: table;
  clear: both;
}


.left-box {
  float: left;
  width: 40%;
  margin: 20px 2.5%;
}

.right-box {
  float: left;
  /* debug */
  width: 20%;
  margin: 20px 10%;
}

.row2 p {
  font-size: 15px;
  color: #808080;
  margin: 20px 0;
}

.row2 a {
  font-size: 15px;
  color: lightblue;
}

#mountain-img {
  height: 450px;
  width: auto;
  position: relative;
  left: 100px;
}

/* Regole Footer */

footer {
  height: 150px;
  background-color: lightgrey;
}

.text-footer  {
  position: relative;
}

footer h2 {
  position: relative;
  top: 50px;
}

#span {
  color: #808080;
}

.right-text {
  position: absolute;
  top: 50px;
  right: 0;
}

.select {
  background-color: lightgrey;
  color: #808080;
  border: transparent;
  text-decoration: underline;
  margin: 0 20px;
}

footer button {
  padding: 10px 12px;
  background-color: #7cbb02;
  color: white;
  border-color: transparent;
  border-radius: 5px;
}
